<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Details</title>
</head>
<body>
    <h1>Superhero Details:</h1>
    <ul>
        {% for hero in all_heroes %}
        <li> <p> {{hero.name}}<br /> 
            {{hero.alter_ego}}<br />
            {{hero.primary_ability}}<br />
            {{hero.secondary_ability}}<br />
            {{hero.catchphrase}}<br />
        </p> </li>
        {% endfor %}
    </ul>
</body>
</html>